
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Para centrar horizontalmente dentro del ion-content */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

.ion-card {
  width: 90%; /* o cualquier valor que desees */
  margin: 0 auto; /* Para centrar horizontalmente el ion-card dentro de la form-container */
}